<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>

<h1>The Game is On!!</h1>
<p>
<form action="/madlib">
  Name a person: 
  <input type="text" name="person"><br>
  Pick a color:
  <select name="color"><br>
    <option value="purple">Purple</option>
    <option value="blue">Blue</option>
    <option value="orange">Orange</option>
    <option value="green">Green</option>
  </select><br>
  Type a noun:
  <input type="text" name="noun"><br>
  Type an adjective:
  <input type="text" name="adjective"><br>
  Choose the Superhero:<br>
  <input type="radio" name="superhero" value="batman">Batman<br>
  <input type="radio" name="superhero" value="wonderwoman">Wonder Woman<br>
  <input type="radio" name="superhero" value="spiderman">Spiderman<br>
  <input type="radio" name="superhero" value="storm">Storm<br>
  <input type="radio" name="superhero" value="catwoman">Catwoman<br>
  <br>
  <input type="submit">
</form>
</p>

</body>
</html>